test.py
test.ipynb
.vscode
.pytest_cache/
__pycache__/
tempCodeRunnerFile.py
.sync/
desktop.ini
.env
assets/repos/*
!assets/repos/order.json
!assets/repos/colors.json
assets/cv/*
!assets/cv/*.pdf
!assets/cv/*.tex
rokobo.github.io.code-workspace
.venv
assets/certificates_stock
assets/JetBrainsMono\[wght\].ttf
*.aux
*.dvi
*.fls
*.log
*.out
*.fdb_latexmk
