test.py
test.ipynb
.vscode
.pytest_cache/
__pycache__/
tempCodeRunnerFile.py
.sync/
desktop.ini
.env
assets/repos/*
!assets/repos/order.json
!assets/repos/colors.json
assets/cv/*
!assets/cv/*.pdf
!assets/cv/*.tex